**/.DS_Store
.git
.gitignore
.vscode
README.md
TODO.md
**/db.sqlite3
network
**/sent_emails
**/__pycache__
**/*.pyc
*.log
*.sublime-project
*.sublime-workspace
*.retry
integration_test.py
*.md
app.sh
