**/.DS_Store
.git
.gitignore
.vscode
README.md
TODO.md
**/db.sqlite3
network
**/sent_emails
**/__pycache__
**/*.pyc
*.log
*.sublime-project
*.sublime-workspace
*.retry
scripts/
*.md
app.sh
etc/env/*.tmpl
