# byte-compiled
__pycache__/
*.pyc

# django
*.log
local_settings.py
db.sqlite3
sent_emails/

# pyenv
.python-version

# editor
**/.vscode/
**/*.sublime-project
**/*.sublime-workspace

# ansible
**/*.retry
*/vault-password.txt
