# project related
static/**
etc/env/*.env

# byte-compiled
__pycache__/
*.pyc

# django
*.log
local_settings.py
db.sqlite3
sent_emails/

# pyenv
.python-version
temp-requirements.txt

# editor
**/.vscode/
**/*.sublime-project
**/*.sublime-workspace

# ansible
**/*.retry
*/vault-password.txt
**/roles/ecs-cluster/

# Elastic Beanstalk Files
#.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.coverage

# pytest
.pytest_cache/
.gradle/
