[submodule "application/js/vue-s3-dropzone"]
	path = application/js/vue-s3-dropzone
	url = git@github.com:ebridges/vue-s3-dropzone.git

[submodule "application/js/javascript-load-image"]
	path = application/js/javascript-load-image
	url = https://github.com/blueimp/JavaScript-Load-Image.git
