[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
gunicorn = "*"
python-dotenv = {extras = ["cli"],version = "*"}
whitenoise = "*"
psycopg2-binary = "*"
boto3 = "*"

[dev-packages]
pylint = "*"
ansible = "*"
ansible-vault = "*"
botocore = "*"
boto = "*"
awsebcli = "*"
zest-releaser = "*"
selenium = "*"
django-nose = "*"
coverage = "*"
factory-boy = "*"
pytest = "~=4.0.1"
pytest-django = "*"
pytest-cov = "*"
pytest-factoryboy = "*"

[requires]
python_version = "3.7"
