[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
gunicorn = "*"
python-dotenv = {extras = ["cli"],version = "*"}
whitenoise = "*"

[dev-packages]
pylint = "*"
ansible = "*"
ansible-vault = "*"
"boto3" = "*"
botocore = "*"
boto = "*"
awsebcli = "*"
zest-releaser = "*"
selenium = "*"

[requires]
python_version = "3.7"
