{% extends 'base.html' %}
{% block title %}Unsubscribe{% endblock %}

{% block nav_block %}
<h2 class="subtitle">
  <a href="https://elektrum.photos" class="subtitle_link"><span class="nav-home-icon">&#x2302;</span></a> / Unsubscribe
</h2>
{% endblock %}

{% block loggedout_content %}
{% if unsubscribed %}
  <p>Email address {{ shared_to }} has been unsubscribed  from photos shared by {{ shared_by }}.</p>
{% else %}
  <p>Clicking the button below will unsubscribe the email address {{ shared_to }} from photos shared by {{ shared_by }}.</p>
  <p>
    <form method="post" action="{% url 'unsubscribe' email_id %}">
      {% csrf_token %}
      <button type="submit" style="border: solid 1px #282828; border-radius: 5px; box-sizing: border-box; cursor: pointer; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 5px 10px; text-decoration: none; text-transform: capitalize; background-color: #282828; border-color: #282828; color: #ffffff;">Unsubscribe from Emails</button>
    </form>
{% endif %}
{% endblock %}
