{% extends 'base.html' %}

{% block title %}Collections{% endblock %}

{% block content %}
<h1>Elektron</h1>
{% if user.is_authenticated %}
<p>Welcome {{ user.username }} !!!</p>
<p><img src="{{ request.user.profile_image_url }}"/></p>
<p>User's email is {% if not user.is_account_verified %} not{% endif %} verified.</p>
<p><a href="{% url 'account_logout' %}">Log out</a>

<h2>Collections</h2>

<a href="{% url "collection_new" %}">New Collection</a>

<table border="1">
  <thead>
      <tr>
      <th>Path</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
      </tr>
  </thead>
  <tbody>
      {% for collection in object_list %}
      <tr>
      <td>{{ collection.path }}</td>
      <td><a href="{% url "collection_view" collection.id %}">view</a></td>
      <td><a href="{% url "collection_edit" collection.id %}">edit</a></td>
      <td><a href="{% url "collection_delete" collection.id %}">delete</a></td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
  
{% else %}
<p><a href="{% url 'account_signup' %}">Sign Up</a></p>
<p><a href="{% url 'account_login' %}">Log In </a></p>
<p><a href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
{% endif %}
{% endblock %}
