option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    RetentionInDays: '1'
    DeleteOnTerminate: true
    StreamLogs: true

files:
  "/etc/awslogs/config/customlogs.conf":
    mode: "000600"
    owner: root
    group: root
    content: |
      [elektron_app-stdouterr.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/containers/elektron_app-stdouterr.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/containers/elektron_app*stdouterr.log*
      file_fingerprint_lines=1-8

      [elektron_proxy-stdouterr.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/containers/elektron_proxy-stdouterr.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/containers/elektron_proxy*stdouterr.log*
      file_fingerprint_lines=1-8

commands:
  "01":
    command: chkconfig awslogs on
  "02":
    command: service awslogs restart
