{% extends 'base_protected.html' %}
{% block title %}Share Media{% endblock %}

{% block nav_block %}
<h2 class='subtitle'>
    <a href="{% url 'collections-view' '8ed9ec5a-5b31-11ea-a4f6-779ad4268dd2' %}"><span class="nav-home-icon">&#x2302;</span></a> /
    <a href="{% url 'albums-view' '8ed9ec5a-5b31-11ea-a4f6-779ad4268dd2' year %}">{{ year }}</a> /
    <a href="{% url 'media-list-view' '8ed9ec5a-5b31-11ea-a4f6-779ad4268dd2' year yyyymmdd %}">{{ yyyymmdd }}</a>
</h2>
{% endblock %}

{% block content %}
<form>
  <ul>
    {% for info in objects %}
    <li>{{ info }}</li>
    {% endfor %}
  </ul>
</form>
{% endblock %}
