{% extends 'base_protected.html' %}
{% block title %}Share Media{% endblock %}

{% block nav_block %}
<h2 class='subtitle'>
  <a href="{% url 'collections-view'  user.id %}"><span class="nav-home-icon">&#x2302;</span></a>
</h2>
{% endblock %}

{% block content %}
<table style="width: 700px">
  <caption style="text-align: left;">
    <div>
      <label for="shared-on">Shared on:</label>
      <span id="shared-on">{{ share.shared_on }}</span>
    </div>
    <div>
      <label for="to-address">Shared To:</label>
      <span id="to-address">{{ share.to }}</span>
    </div>
  </caption>
  <tbody>
    <tr>
      <th>
        &nbsp;
      </th>
      <td id="media_items" class="media_items">
        {% for info in share.shared %}
        <span class="media_item">
          <figure>
            <div class="media_item_thumbnail"></div>
            <figcaption>
              &nbsp;&nbsp;{{ info.title }}
            </figcaption>
          </figure>
        </span>
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}

{% block local_endjs %}
{% include "thumbnail_js.html" %}
{% endblock %}
