{% extends 'base_protected.html' %}
{% block title %}Share Media{% endblock %}

{% block nav_block %}
<h2 class='subtitle'>
    <a href="{% url 'collections-view'  user.id %}"><span class="nav-home-icon">&#x2302;</span></a>
</h2>
{% endblock %}

{% block content %}
<form action="{% url 'share-items' share_id %}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <datalist id="default-emails">
    {% for email in default_emails %}
    <option value="{{ email }}">
    {% endfor %}
  </datalist>
  <button type="submit" name="action" value="share">Share Images</button>
  <button type="submit" name="action" value="draft">Save as Draft</button>
  <button type="submit" name="action" value="cancel">Cancel</button><br>
  <label for="media_items">Images being shared:</label>
  <div id="media_items" class="media_items">
    {% for info in objects %}
    <div class="media_item">
      <a class="media_item_link" href="#">
        <figure>
          <div class="media_item_thumbnail"></div>
          <figcaption>
            &nbsp;&nbsp;<input type="hidden" name="items-to-share" value="{{ info.item_id }}"/>&nbsp;{{ info.title }}
          </figcaption>
        </figure>
      </a>
    </div>
    {% endfor %}
  </div>
</form>
{% endblock %}

{% block local_endjs %}
<script>
  let images = [
  {% for info in objects %}{src: '{{ info.url }}', w: '222px', h: '222px'},
  {% endfor %}];
  let locations = document.getElementsByClassName('media_item_thumbnail');
  renderThumbnails(images, locations)
</script>
{% endblock %}
