body {
    padding: 2em;
    font: 14px Hind, Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
}

footer {
    font: 10px Hind, Helvetica, Arial, sans-serif;
}

.header-left {
    flex-grow: 1;
}

.header-right {
    padding-top: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-container {
    position: relative;
}

.avatar-badge {
    position: absolute;
    top: -5px;
    right: -5px;
}

.title {
    color: #222;
    letter-spacing: 0.025em;
    font-size: 36px;
    text-transform: uppercase;
}

.logout-button {
    text-align: right;
}

.subtitle {
    color: #aaa;
    letter-spacing: 0.025em;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
    top: -25px;
}