.media_metadata th {
  font-size: 10px;
  text-align: left;
  padding: 10px 5px 5px 20px;
}

.media_metadata_item_key {
  font-weight: bolder;
  padding: 5px 3px 3px 20px;
}

.media_metadata_item {
  font-size: 8px;
  padding: 5px 3px 3px 3px;
}

details {
  padding-top: 20px;
}

input[type=checkbox] {
  zoom: 1.5;
  vertical-align: middle;
}

.media_items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px 5px;
}

.media_item {
  box-sizing: border-box;
  position: relative;
  display: grid;
  border: 0px;
  width: min-content;
  height: min-content;
}

.media_item figure {
  display: table;
  position: relative;
  float: left;
}

.media_item figcaption {
  width: 100%;
  display: table-row;
  float: left;
  position: absolute;
  top: 0;
  padding: 0.75em 0em 0.75em 0em;
  background: linear-gradient( rgba(0, 0, 0, 0.6) 15%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.1) 60%);
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.media_item_thumbnail {
  border: 0px;
}
