{% extends 'base.html' %}
{% load i18n %}
{% load socialaccount %}

{% block content %}

  {% if user.is_authenticated %}
    <p>Welcome {{ user.username }} !!!</p>
    <p><img src="{{ request.user.profile_image_url }}"/></p>
    <p>User's email is {% if not user.is_account_verified %} not{% endif %} verified.</p>
    <p><a href="{% url 'account_logout' %}">Log out</a>

    {% block logged_in_content %}
    {% endblock %}

  {% else %}

  {% block logged_out_content_top %}
  {% endblock %}

  {% blocktrans with site.name as site_name %}In order to access {{ site_name }} you can sign up or log in with your Google credentials, or create an account an log in with those credentials.{% endblocktrans %}

    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
    <div class="social-form">
      {% blocktrans %}Connect via Google:{% endblocktrans %}
      {% for provider in socialaccount_providers %}
        <li>
          <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
            href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
        </li>
      {% endfor %}
      {% providers_media_js %}
    </div>
    {% endif %}

    <div class="login-form">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="primaryAction" type="submit">{% trans "Sign In" %} &raquo;</button>
      </form>
    </div>

    <div class="signup-form">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>    

    {% block logged_out_content_bottom %}
    {% endblock %}

    {% endif %}

{% endblock %}

