{% extends 'base_protected.html' %}
{% block title %}Album Home{% endblock %}

{% block nav_block %}
<h2 class='subtitle'>
    <a href='{% url 'collections-view' user.id %}'><span class="nav-home-icon">&#x2302;</span></a> /
    <a href='{% url 'albums-view' user.id year %}'>{{ year }}</a>
</h2>
{% endblock %}

{% block content %}
<div class="media_items">
  {% for info in objects %}
  <div class="media_item">
    <a class="media_item_link" href="{% url 'media-list-view' user.id year info.yyyymmdd %}">
      <figure>
        <div class="media_item_thumbnail"></div>
        <figcaption>
          &nbsp;&nbsp;&nbsp;{{ info.yyyymmdd }}
        </figcaption>
      </figure>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block local_endjs %}
<script>
  let images = [
  {% for info in objects %}{src: '{{ info.url }}', w: '222px', h: '222px'},
  {% endfor %}];
  let locations = document.getElementsByClassName('media_item_thumbnail');
  renderThumbnails(images, locations)
</script>
{% endblock %}
