{% extends 'base_protected.html' %}

{% block title %}Collections{% endblock %}

{% block content %}

<h2>Albums available for {{ user.username }} in year {{ collection_year }}</h2>

<table border="1">
  <thead>
      <tr>
          <th>Path</th>
      </tr>
  </thead>
  <tbody>
      {% for yyyymmdd in object_list %}
      <tr>
          <td>{{ yyyymmdd }}</td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
{% endblock %}


{% block loggedout_content %}
  <p>You must be logged in to view this content.</p>
{% endblock %}
