{% extends 'base_protected.html' %}
{% block title %}Collections Home{% endblock %}

{% block nav_block %}
<h2 class='subtitle'>
&nbsp;
</h2>
{% endblock %}

{% block content %}
<div class="media_items">
  {% for info in objects %}
  <div class="media_item">
    <a class="media_item_link" href="{% url 'albums-view' user.id info.year %}">
      <figure>
        <div class="media_item_thumbnail"><img src="{{ info.thumbnail_url }}" width="{{ THUMBNAIL_WIDTH }}" height="{{ THUMBNAIL_HEIGHT }}"></div>
        <figcaption>
          &nbsp;&nbsp;&nbsp;{{ info.year }}
        </figcaption>
      </figure>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
