{% extends 'base_protected.html' %}

{% block title %}App Home{% endblock %}
{% block local_css %}
<style type="text/css">
  dl {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px 5px;
  }

  .img-container {
    position: relative;
  }

  dt {
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    padding-bottom: 5px;
    color: #ffffff;
    font-size: 18px;
    width: 100%;
  }

  dt a {
    color: #ffffff;
    text-decoration: none;
  }


  dd {
    box-sizing: border-box;
    position: relative;
    display: grid;
  }

  /* https://stackoverflow.com/a/5804278/87408 */
  dd img {
    display: block;    
    object-fit: cover;
    width: 222px;
    height: 222px;
  }

  /* https://stackoverflow.com/a/23935891/87408 */
  dd::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    min-width:222px;
    min-height:222px;
    background: linear-gradient( rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.02) 50%, rgba(0, 0, 0, 0.10) 100%);
  }

</style>
{% endblock %}

{% block content %}

<dl>
  {% for info in objects %}
  <span class='img-container'>
      <dd><img src='{{ info.url }}'/></dd>
      <dt><a href='{% url 'albums-view' user.id info.year %}'>{{ info.year }}</a></dt>
  </span>
  {% endfor %}
</dl>

{% endblock %}