{% extends 'base_protected.html' %}
{% block title %}Collections Home{% endblock %}

{% block nav_block %}
<h2 class='subtitle'>
&nbsp;
</h2>
{% endblock %}

{% block content %}
<dl>
  {% for info in objects %}
  <span class='img-container'>
      <dd><div class='media_item_thumbnail'></div></dd>
      <dt><a href="{% url 'albums-view' user.id info.year %}">{{ info.year }}</a></dt>
  </span>
  {% endfor %}
</dl>
{% endblock %}

{% block local_endjs %}
<script>
  let images = [
  {% for info in objects %}{src: '{{ info.url }}', w: '222', h: '222'},
  {% endfor %}];
  let locations = document.getElementsByClassName('media_item_thumbnail');
  renderThumbnails(images, locations)
</script>
{% endblock %}
