{% extends 'base_protected.html' %}

{% block title %}Collections{% endblock %}

{% block logged_in_content %}

<h2>Albums available for {{ user.username }} in year {{ collection_year }}</h2>

<table border="1">
  <thead>
      <tr>
          <th>Path</th>
      </tr>
  </thead>
  <tbody>
      {% for item in object_list %}
      <tr>
          <td>{{ item }}</td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
{% endblock %}


{% block logged_out_content_top %}
  <h2>Please sign in!</h2>
{% endblock %}

{% block logged_out_content_bottom %}
  <p>You must be logged in to view this content.</p>
{% endblock %}
