{% extends 'base_protected.html' %}
{% load i18n %}

{% block title %}Media Item{% endblock %}
{% block nav_block %}
<h2 class="subtitle">
    <a href='{% url 'collections-view' user.id %}' class='subtitle_link'><span class="nav-home-icon">&#x2302;</span></a> /
    <a href='{% url 'albums-view' user.id collection_year %}' class='subtitle_link'>{{ collection_year }}</a> /
    <a href='{% url 'media-list-view' user.id collection_year album_id %}' class='subtitle_link'>{{ album_id }}</a> /
    {{ media_item.create_date }}
</h2>
{% endblock %}

{% block content %}
<div class="media_item_container">
    <div id="media_item"></div>
    <script>
      let img = { src: "{{ media_item_url }}", w: 1000, h: "auto" }
      let loc = document.getElementById('media_item');
      renderImage(img, loc)
    </script>
</div>

<details>
    <summary>This photo was taken on {{ media_item.create_date.date }} at {{ media_item.create_date.time }} {% if media_item.artist %} by {{ media_item.artist }} {% endif %}</summary>
    <table class="media-metadata-table">
        <caption>
            Additional information about this image
        </caption>
        <colgroup>
            <col class="media-metadata-table-column-one" />
            <col class="media-metadata-table-column-two" />
        </colgroup>
        <tbody>
            <tr>
                <th>{% trans "Date Created" %}</td>
                <td>{{ media_item.create_day.this_date }}</td>
            </tr>
            {% if media_item.file_size %}
            <tr>
                <th>{% trans "File Size" %}</td>
                <td>{{ media_item.file_size }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{% trans "Dimensions (WxH)" %}</td>
                <td>{{ media_item.image_width }}x{{ media_item.image_height }}</td>
            </tr>
            {% if media_item.camera_make %}
            <tr>
                <th>{% trans "Camera Make & Model" %}</td>
                <td>
                    {{ media_item.camera_make }}
                    {% if media_item.camera_model %}
                        {{ media_item.camera_model }}
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% if media_item.aperture %}
            <tr>
                <th>{% trans "Exposure" %}</td>
                <td>
                    {{ media_item.aperture }}
                    {% if media_item.camera_model %}
                        at {{ media_item.shutter_speed }}s
                    {% endif %}
                    {% if media_item.iso_speed %}
                        (iso {{ media_item.iso_speed }})</td>
                    {% endif %}
            </tr>
            {% endif %}

            {% if media_item.gps_lat and media_item.gps_lon %}
            <tr>
                <th>{% trans "GPS Location (lat/lon/alt [time])" %}</td>
                <td>
                    {{ media_item.gps_lat }}/{{ media_item.gps_lon }}
                    {% if media_item.gps_alt %}
                        /{{ media_item.gps_alt }}
                    {% endif %}
                    {% if media_item.gps_date_time %}
                        [{{ media_item.gps_date_time }}]
                    {% endif %}
                </td>
            </tr>
            {% endif %}

            {% if media_item.artist %}
            <tr>
                <th>{% trans "Photographer" %}</td>
                <td>{{ media_item.artist }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{% trans "Location" %}</td>
                <td><a href="{{ media_item_url }}">{{ media_item.file_path }}</a> ({{ media_item.mime_type }})</td>
            </tr>
            <tr>
                <th>{% trans "Media ID" %}</td>
                <td>{{ media_item.id }}</td>
            </tr>
        </tbody>
    </table>
</details>
{% endblock %}
