{% extends 'base_protected.html' %}
{% block title %}Share Media{% endblock %}

{% block local_css %}
<style>
  .media_items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px 5px;
  }
  .media_item {
    box-sizing: border-box;
    position: relative;
    display: grid;
    border: 0px;
    width: min-content;
    height: min-content;
  }
  .media_item figure {
    display: table;
    position: relative;
    float: left;
  }
  .media_item figcaption {
    width: 100%;
    display: table-row;
    float: left;
    position: absolute;
    top: 0;
    padding: 0.75em 0em 0.75em 0em;
    background: linear-gradient( rgba(0, 0, 0, 0.6) 15%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0.1) 60%);
    color: white;
    font-size: 12px;
    font-weight: bold;
  }
  .media_item_thumbnail {
    border: 0px;
  }
  input[type=checkbox] {
    zoom: 1.5;
    vertical-align: middle;
  }
</style>

{% endblock %}

{% block local_js %}
<script>
  function toggleCheckbox(checkboxId) {
    var items = document.getElementsByName('items-to-share');
    for (var i = 0, len = items.length; i < len; i++) {
      if(items[i].value === checkboxId) {
        items[i].checked ^= 1;
      }
    }
  }
</script>
{% endblock %}

{% block nav_block %}
<h2 class='subtitle'>
    <a href="{% url 'collections-view' user.id %}"><span class="nav-home-icon">&#x2302;</span></a> /
    <a href="{% url 'albums-view' user.id year %}">{{ year }}</a> /
    {{ yyyymmdd }}
</h2>
<button name="share" id="share-button"/>

{% endblock %}

{% block content %}
<div class="media_items">
  {% for info in objects %}
  <div class="media_item">
    <a class="media_item_link" onclick="toggleCheckbox('{{ info.item_id }}')" href="#">
      <figure>
        <div class="media_item_thumbnail"></div>
        <figcaption>
          &nbsp;&nbsp;<input type="checkbox" name="items-to-share" value="{{ info.item_id }}"/>&nbsp;{{ info.title }}
        </figcaption>
      </figure>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block local_endjs %}
<script>
  let images = [
  {% for info in objects %}{src: '{{ info.url }}', w: '202px', h: '202px'},
  {% endfor %}];
  let locations = document.getElementsByClassName('media_item_thumbnail');
  renderThumbnails(images, locations)
</script>
{% endblock %}
