{% extends 'base_protected.html' %}
{% block title %}Share Media{% endblock %}

{% block nav_block %}
<h2 class="subtitle">
  <a href="{% url 'collections-view' user.id %}" class="subtitle_link"><span class="nav-home-icon">&#x2302;</span></a> / Share Log
</h2>
{% endblock %}


{% block content %}
{% if share_list %}
<table class="share-log">
  <caption>{{ share_list|length }} Shares</caption>
  <thead>
  <tr>
    <th>Created</th>
    <th>Status</th>
    <th>Subject</th>
    <th style="text-align: center;"># Items Shared</th>
    <th>To</th>
    <th style="text-align: center;">Delete</th>
  </tr>
</thead>
<tbody>
  {% for share in share_list %}
  <tr>
    <td>{{ share.created }}</td>
    <td>{{ share.state }}</td>
    <td><a href="{% url 'share-log-item' id=share.id %}">{{ share.subject }}</a></td>
    <td style="text-align: center;">{{ share.shared_count }}</td>
    <td style="vertical-align: top;">
      <ul>
        {% for to in share.shared_to.all %}
        <li>{{ to.email }}</li>
        {% endfor %}
      </ul>
    </td>
    <td style="text-align: center;"><a href="{% url 'share-log-delete' id=share.id %}">❌</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% else %}
  <p>Nothing has been shared yet.</p>
{% endif %}
{% endblock %}
